<header>
    <link rel="stylesheet" href="/css/styles.css">

    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Vinyls</a></li>
            <li><a href="#">My Account</a></li>
        </ul>
    </nav>
</header>