<header>
	<h1>Vinyl Shop</h1>
	<nav>
		<ul>
			<li><a href="https://localhost:7224">Home</a></li>
			<li><a href="/vinyl/list">Shop</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<form>
		<input type="text" placeholder="Search...">
		<button type="submit">Search</button>
	</form>
</header>