<head>
	<title>Vinyl Shop</title>
	<link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>

<header>
	<h1>Vinyl Shop</h1>
	<nav>
		<ul>
			<li><a href="/vinyl/home">Home</a></li>
			<li><a href="/vinyl/list">Shop</a></li>
			<li><a href="/vinyl/addnewvinyl">Add New Vinyl</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</nav>
	<form>
		<input type="text" placeholder="Search...">
		<button type="submit">Search</button>
	</form>
</header>