<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>