@model IEnumerable<VinylShop.Models.Vinyl>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vinyl Shop</title>
</head>

<body>
    @*@foreach (var vinyl in Model)
    {
        <div>
            <img src=@vinyl.ImageUrl>
            <h3>@vinyl.ArtistName - @vinyl.AlbumName</h3>
        </div>
    }*@
</body>
</html>