body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        nav ul li {
            margin: 0 10px;
        }

            nav ul li a {
                color: #fff;
                text-decoration: none;
            }

    nav form {
        display: flex;
        align-items: center;
    }

        nav form input[type="text"] {
            padding: 5px;
            border: none;
            border-radius: 3px;
        }

        nav form button[type="submit"] {
            padding: 5px 10px;
            border: none;
            background-color: #f44336;
            color: #fff;
            border-radius: 3px;
            margin-left: 10px;
            cursor: pointer;
        }

main {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sorting {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

    .sorting label {
        margin-right: 10px;
    }

.vinyls-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.vinyl {
    margin: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0
